.user-list {
  background-color: #EAEAEA;
  width: 335px;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  padding: 24px 32px;
  .header {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      font-size: 18px;
      color: #4C75E6;
    }
    button {
      border-radius: 42px;
      background:  #3496FF;
      border: none;
      color: #FFFFFF;

      &:hover {
        background: #206FE1;
      }
    }
  }
  .user-card {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 16px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    .user-info {
      font-weight: bold;
      margin-bottom: 15px;
    }
    .user-number {
      font-size: 18px;
      color: #4C75E6;
    }
  }
}